<template>
  <v-layout row wrap>
    <v-flex xs12 sm8 offset-sm2>
    <v-dialog width="550px" transition persistent v-model="isError">
        <v-layout row wrap>
          <v-flex xs12>
          <v-alert type="error" dismissible v-model="isError">
            {{errorMsg}}
          </v-alert>
          </v-flex>
        </v-layout>
      </v-dialog>
      <div class="enterTeamNameDiv">
      <v-text-field autofocus single-line
      name="team-name" label="Team Name"
      v-model="teamName" class="enterTeamName">
      </v-text-field>
      </div>
      <div class="submitTeamDiv">
      <v-btn color="primary" dark @click.prevent="createTeam" class="submitButton">Submit</v-btn>
      </div>
      <div class="teamPlayersCnt">
        <template>
          <player-list-popup></player-list-popup>
        </template>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  import PlayerListPopup from './PlayerListPopup'
  export default {
    components: {
      'player-list-popup': PlayerListPopup
    },
    data () {
      return {
        teamName: "",
        captain: null,
        viceCaptain: null,
        jpMatchId: null,
        backupJpMatchId: null,
        isError: false,
        errorMsg: ""
      }
    },
    computed: {
      getJoinedLeagueId () {
        return this.$store.getters.getJoinedLeagueId
      },
      getLoggedInUserInfo () {
        return this.$store.getters.getuser
      },
      getUserTeamObj () {
        return this.$store.getters.getUserTeamObj
      },
      getUserTeamCreated () {
        return this.$store.getters.getUserTeamCreated
      }
    },
    watch: {
      getUserTeamObj (userTeamObj) {
        if(userTeamObj !== null && userTeamObj !== undefined) {
          this.$router.push('/viewTeam')
        }
      },
      getUserTeamCreated (teamCreated) {
        if(teamCreated) {
          this.goToUserLeague()
        }
      }
    },
    methods: {
      createTeam () {
        if(!this.teamName) {
          this.errorMsg = "TeamName cannot be empty"
          this.isError = true
          return
        }
        if(!document.getElementsByClassName("backupJpMatch")[0].id) {
          this.errorMsg = "Please Select a Backup JP match"
          this.isError = true
          return
        }
        if(!document.getElementsByClassName("jPMatch")[0].id) {
          this.errorMsg = "Please Select a JP match"
          this.isError = true
          return
        }
        var playerSelected = document.getElementsByClassName("teamPlayers")
        var playerSelectedId = []
        for(var i=0; i<playerSelected.length; i++) {
          if(playerSelectedId.includes(playerSelected[i].id)) {
            this.errorMsg = "You can't Select same Player twice "
            this.isError = true
            return
          }
          if(!playerSelected[i].id) {
            this.errorMsg = "Please Select 11 players "
            this.isError = true
            return
          }
          if(playerSelected[i].className.split(" ").includes("captainDiv")) {
            this.captain = playerSelected[i].id
          }
          if(playerSelected[i].className.split(" ").includes("viceCaptainDiv")) {
            this.viceCaptain = playerSelected[i].id
          }
          playerSelectedId.push(playerSelected[i].id)
        }
        this.jpMatchId = document.getElementsByClassName("jPMatch")[0].id
        this.backupJpMatchId = document.getElementsByClassName("backupJpMatch")[0].id
        if(this.jpMatchId == this.backupJpMatchId){
          this.errorMsg = "JP match and Backup JP match can't be same"
          this.isError = true
          return
        }

        var createTeamJson = {
          activePlayers: playerSelectedId,
          name: this.teamName,
          points: 0,
          leagueId: this.getJoinedLeagueId,
          userAccountId: this.getLoggedInUserInfo.userInfo.uid,
          transfersRemaining: 11,
          ccRemaining: 11,
          vccRemaining: 11,
          captain: this.captain,
          viceCaptain: this.viceCaptain,
          backupJackpotMatchId: this.backupJpMatchId,
          jackpotMatchId: this.jpMatchId
        }
        this.$store.dispatch('createTeam', createTeamJson)
      },
      goToUserLeague () {
        this.$store.dispatch("goToUserLeague", {leagueId: this.getJoinedLeagueId})
      }
    }
  }
</script>
<style scoped>
    .teamPlayersCnt{
      width: 100%;
      border: 1px solid;
      height: auto;
      background-color: #CFD8DC;
    }
    .enterTeamName{
      width: 100%;
    }
    .enterTeamNameDiv{
      display: inline-block;
      width: 62%;
      margin-left: 5px;
    }
    .submitTeamDiv{
      display: inline-block;
      width: 10%;
    }
    .submitButton{
      width: 100%;
    }
</style>
