<template>
<v-container fluid>
  <v-layout row wrap>
    <v-flex xs12 sm4 offset-sm4>
    <v-card class="tertiary">
      <v-card-media :src="getLoggedInUserInfo.userInfo.photoURL" height="200px" contain class="mt-2">
      </v-card-media>
      <v-card-title primary-title>
        <div>
          <div class="cardTitle">
            पाकीट मिळालं, मटका लागला रे, PnW che pts ale re, leaderboard ala ka, हरलो काय, JSRM..JSRM..
            </br>
            Yess...Those nostalgic days are back..</br>Our very own IPL FANTASY LEAGUE 2018 is back in a new look
          </div>
          <h4 class="headline font-weight 400 mb-0">Welcome to Fantasy Katta
            <span class="primaryEl">{{getLoggedInUserInfo.userInfo.displayName}}</span>
          </h4>
          <div class="subheading font-weight 400">We have already created a league for you.</br>Kindly click on JOIN League and enter code - JSRM</div>
        </div>
      </v-card-title>
      <v-divider light></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <template>
          <join-league></join-league>
        </template>
      </v-card-actions>
    </v-card>
    </v-flex>
    </v-layout>
 </v-container>
</template>

<script>
import JoinLeague from './JoinLeague'
  export default {
    components: {
      'join-league': JoinLeague
    },
    data () {
      return {

      }
    },
    computed: {
      getLoggedInUserInfo () {
        return this.$store.getters.getuser
      }
    },
    methods: {

    }
  }
</script>
<style scoped>
  .cardTitle{
    font-size: 14px;
    line-height: 26px;
  }
</style>
