<template>
  <v-dialog width="350px" transition>
    <v-btn color="primary" dark slot="activator">JOIN League</v-btn>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title class="joinLeagueTitleEl">
            <div class="joinLeagueTitle">Join League</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-alert type="error" :value="getUserAlreadyJoined">You have already joined this league.Go to MY Leagues for seeing your team</v-alert>
            <v-text-field autofocus single-line
            name="join-league" label="Enter League Code"
            v-model="leagueCode"></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" dark @click.prevent="checkUserAlreadyJoined" :disabled="getUserAlreadyJoined">Submit Code</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-dialog>
</template>

<script>
  export default {
    data () {
      return {
        leagueCode: ""
      }
    },
    computed: {
      getJoinedLeagueId () {
        return this.$store.getters.getJoinedLeagueId
      },
      getUserAlreadyJoined () {
        return this.$store.getters.getUserAlreadyJoined
      }
    },
    watch: {
      getJoinedLeagueId (joinedLeagueId) {
        if(joinedLeagueId !==null && joinedLeagueId !== undefined) {
          this.$router.push('/createTeam')
        }
      },
      getUserAlreadyJoined (userAlreadyJoined) {
        if(userAlreadyJoined == false){
          this.joinLeague()
        }
      }
    },
    methods: {
      joinLeague () {
        this.$store.dispatch('joinLeague', {leagueCode: this.leagueCode})
      },
      checkUserAlreadyJoined () {
        this.$store.dispatch('checkUserAlreadyJoined', {leagueCode: this.leagueCode})
      }
    }
  }
</script>
<style scoped>
  .joinLeagueTitle{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
  }
  .joinLeagueTitleEl{
    background-color: #4DB6AC;
    color: white;
  }
</style>
