<template>
<v-container fluid>
  <v-layout row wrap>
    <v-flex xs12>
      <v-dialog width="550px" transition persistent v-model="isError">
        <v-layout row wrap>
          <v-flex xs12>
          <v-alert type="error" dismissible v-model="isError">
            {{errorMsg}}
          </v-alert>
          </v-flex>
        </v-layout>
      </v-dialog>
      <template>
        <v-data-table
          :headers="headers"
          :items="items"
          hide-actions
          class="elevation-1"
        >
        <template slot="items" slot-scope="props">
          <tr :id="props.item.leagueId" @click="goToUserLeague">
            <td>{{ props.item.leagueId }}</td>
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.format }}</td>
            <td>{{ props.item.startTime }}</td>
          </tr>
        </template>
    </v-data-table>
  </template>
    </v-flex>
    </v-layout>
 </v-container>
</template>

<script>
import JoinLeague from './JoinLeague'
  export default {
    components: {
      'join-league': JoinLeague
    },
    data () {
      return {
        headers: [],
        items: [],
        isError: "",
        errorMsg: ""
      }
    },
    created () {
      this.$store.dispatch("getUserLeagues", {})
    },
    computed: {
      getUserLeagues () {
        return this.$store.getters.getUserLeagues
      },
      getUserTeamObj () {
        return this.$store.getters.getUserTeamObj
      },
      getError () {
        return this.$store.getters.getError
      }
    },
    watch: {
      getUserLeagues (leagues) {
        if(leagues !== null && leagues !== undefined) {
          var itemsArr = []
          var headerArr = [
            {
              "text": "League Id",
              "value": "leagueId",
              "class": "myLeagueHeader"
            },
            {
              "text": "League Name",
              "value": "name",
              "class": "myLeagueHeader"
            },
            {
              "text": "Format",
              "value": "format",
              "class": "myLeagueHeader"
            },
            {
              "text": "Start Date",
              "value": "startTime",
              "class": "myLeagueHeader"
            }
          ]
          this.headers = headerArr

          for(var i=0; i<leagues.length; i++) {
            var itemsObj = {}
            itemsObj.value = leagues[i].tournamentId
            itemsObj.name = leagues[i].name
            itemsObj.format = leagues[i].format
            itemsObj.startTime = leagues[i].startTime
            itemsObj.leagueId = leagues[i].leagueId
            itemsArr.push(itemsObj)
          }
          this.items = itemsArr
        }
      },
      getUserTeamObj (userTeamObj) {
        if(userTeamObj !== null && userTeamObj !== undefined) {
          this.$router.push('/viewTeam')
        }
      },
      getError (error) {
        if(error !== null && error !== undefined) {
          this.isError = true
          this.errorMsg = error
          this.destroyError()
        }
      }
    },
    methods: {
      goToUserLeague (e) {
        this.$store.dispatch("goToUserLeague", {leagueId: e.target.parentElement.id})
      },
      destroyError () {
        this.$store.dispatch("destroyError", {})
      }
    }
  }
</script>
<style>
  .myLeagueHeader{
    background-color: #4DB6AC;
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }
  tr{
    cursor: pointer;
  }
</style>
