<template>
    <div class="teamPlayersInnerCnt">
    <div class="jPMatch" @click.prevent="getClickedjPMatch">
    <v-icon class="jpMatchIcon">subtitles</v-icon>
    <label class="jpMatchAdd">JP No</label>
    </div>
    <div class="backupJpMatch" @click.prevent="getClickedjPMatch">
    <v-icon class="backupJpMatchIcon">subtitles</v-icon>
    <label class="backupJpMatchAdd">Backup Jp No</label>
    </div>
    <div class="teamPlayers captainDiv" @click.prevent="getClickedPlayer">
      <v-icon class="addIcon">add_circle</v-icon>
      <label class="addPlayer">Captain</label>
    </div>
    <div class="teamPlayers viceCaptainDiv" @click.prevent="getClickedPlayer">
      <v-icon class="addIcon">add_circle</v-icon>
      <label class="addPlayer">ViceCaptain</label>
    </div>
    <div class="teamPlayers" @click.prevent="getClickedPlayer">
      <v-icon class="addIcon">add_circle</v-icon>
      <label class="addPlayer">Add a player</label>
    </div>
    <div class="teamPlayers" @click.prevent="getClickedPlayer">
      <v-icon class="addIcon">add_circle</v-icon>
      <label class="addPlayer">Add a player</label>
    </div>
    <div class="teamPlayers" @click.prevent="getClickedPlayer">
      <v-icon class="addIcon">add_circle</v-icon>
      <label class="addPlayer">Add a player</label>
    </div>
    <div class="teamPlayers" @click.prevent="getClickedPlayer">
      <v-icon class="addIcon">add_circle</v-icon>
      <label class="addPlayer">Add a player</label>
    </div>
    <div class="teamPlayers" @click.prevent="getClickedPlayer">
      <v-icon class="addIcon">add_circle</v-icon>
      <label class="addPlayer">Add a player</label>
    </div>
    <div class="teamPlayers" @click.prevent="getClickedPlayer">
      <v-icon class="addIcon">add_circle</v-icon>
      <label class="addPlayer">Add a player</label>
    </div>
    <div class="teamPlayers" @click.prevent="getClickedPlayer">
      <v-icon class="addIcon">add_circle</v-icon>
      <label class="addPlayer">Add a player</label>
    </div>
    <div class="teamPlayers" @click.prevent="getClickedPlayer">
      <v-icon class="addIcon">add_circle</v-icon>
      <label class="addPlayer">Add a player</label>
    </div>
    <div class="teamPlayers" @click.prevent="getClickedPlayer">
      <v-icon class="addIcon">add_circle</v-icon>
      <label class="addPlayer">Add a player</label>
    </div>
    <v-dialog width="550px" transition persistent v-model="showPlayersPopup">
    <v-layout row wrap>
      <v-flex xs12>
        <div class="playersPopupHeader">
          <label class="playersPopupHeaderLabel">select any player from below list</label>
          <v-icon class="closeIcon" medium @click.prevent="showPlayersPopup=false">close</v-icon>
        </div>
        <v-tabs
          color="secondary"
          dark
          slider-color="primary"
         >
          <v-tab
          v-for="(players, role) in getPlayersJson.roleVsPlayerObj">{{role}}</v-tab>
          <v-tab-item
          v-for="players in getPlayersJson.roleVsPlayerObj" @click.prevent="setSelectedPlayer">
            <div flat
            v-for="(player, playerId) in players"
            :id="playerId"
            class="playerDiv"
            >
              {{player.name}} ({{player.teamName}})
            </div>
          </v-tab-item>
        </v-tabs>
      </v-flex>
    </v-layout>
  </v-dialog>
  <v-dialog width="550px" transition persistent v-model="showJpMatchesPopup">
  <v-layout row wrap>
    <v-flex xs12>
      <div class="jpPopupHeader">
        <label class="jpPopupHeaderLabel">select any JP from below list</label>
        <v-icon class="closeIcon" medium @click.prevent="showJpMatchesPopup=false">close</v-icon>
      </div>
      <v-tabs
        color="secondary"
        dark
        slider-color="primary"
       >
        <v-tab>JP Matches</v-tab>
        <v-tab-item
          @click.prevent="setSelectedJp">
          <div flat
          v-for="(matches, matchId) in getPlayersJson.matchesDetailsObj"
          :id="matchId"
          class="matchDiv"
          >
            Match {{matchId}} -  {{matches.team1.shortName}} vs {{matches.team2.shortName}}
          </div>
        </v-tab-item>
      </v-tabs>
    </v-flex>
  </v-layout>
</v-dialog>
</div>
</template>

<script>
  export default {
    data () {
      return {
        showPlayersPopup: false,
        clickedEl: null,
        showJpMatchesPopup: false
      }
    },
    created () {
      this.$store.dispatch('getTeamsObj', {})
    },
    computed: {
      getPlayersJson () {
        return this.$store.getters.getPlayerJson
      }
    },
    watch: {

    },
    methods: {
      setSelectedPlayer (e) {
          this.showPlayersPopup = false
          this.clickedEl.id = e.target.id
          this.clickedEl.classList.add("playerSelected")
          this.clickedEl.innerText = e.target.innerText
      },
      getClickedPlayer (e) {
        this.showPlayersPopup = true
        if(e.target.className.split(" ").includes("teamPlayers")) {
          this.clickedEl = e.target
        }
        else{
          this.clickedEl = e.target.parentElement
        }
      },
      getClickedjPMatch (e) {
        this.showJpMatchesPopup = true
        if(e.target.className.split(" ").includes("jPMatch") || e.target.className.split(" ").includes("backupJpMatch")) {
          this.clickedEl = e.target
        }
        else{
          this.clickedEl = e.target.parentElement
        }
      },
      setSelectedJp (e) {
          this.showJpMatchesPopup = false
          this.clickedEl.id = e.target.id
          this.clickedEl.classList.add("jpSelected")
          this.clickedEl.innerText = e.target.innerText
      },
    }
  }
</script>
<style scoped>
  .teamPlayers{
    width: 50%;
    margin-left: 25%;
    border: 1px solid;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .playerSelected{
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    background-color: #4DB6AC;
    color: #FFFFFF;
    box-shadow: 5px 5px 5px #888888;
  }
  .jpSelected{
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    background-color: #4DB6AC;
    color: #FFFFFF;
    box-shadow: 5px 5px 5px #888888;
  }
  .addIcon{
    margin-left: 20%;
    height: 100%;
    cursor: pointer;
  }
  .jpMatchIcon{
    margin-left: 20%;
    height: 100%;
    cursor: pointer;
  }
  .backupJpMatchIcon{
    margin-left: 20%;
    height: 100%;
    cursor: pointer;
  }
  .teamPlayersInnerCnt{
    width: 100%;
  }
  .addPlayer{
    cursor: pointer;
    font-weight: 500;
  }
  .jpMatchAdd{
    cursor: pointer;
    font-weight: 500;
  }
  .backupJpMatchAdd{
    cursor: pointer;
    font-weight: 500;
  }
  .playerDiv{
    background: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #CFD8DC;
  }
  .matchDiv{
    background: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #CFD8DC;
  }
  .playerDiv:hover{
    background: #EF5350;
    color: #FFFFFF
  }
  .playersPopupHeader{
    background-color: #FFFFFF;
    height: 30px;
    width: 100%;
  }
  .jpPopupHeader{
    background-color: #FFFFFF;
    height: 30px;
    width: 100%;
  }
  .playersPopupHeaderLabel{
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
    line-height: 30px;
  }
  .jpPopupHeaderLabel{
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
    line-height: 30px;
  }
  .closeIcon{
    float: right;
    margin-right: 5px;
    cursor: pointer;
  }
  .jPMatch{
    width: 50%;
    margin-left: 25%;
    border: 1px solid;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
  }
  .backupJpMatch{
    width: 50%;
    margin-left: 25%;
    border: 1px solid;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
  }
  .jPMatchDiv{
    width: 50%;
    margin-left: 25%;
    border: 1px solid;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
  }
  .captainDiv.playerSelected{
    background-color: #EF5350
  }
  .viceCaptainDiv.playerSelected{
    background-color: #2196F3
  }
</style>
