<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 sm10 md10 offset-sm1 offset-md1>
        <div class='carouselTitle text-md-center'>
          Some of India's greatest moments in Cricket
        </div>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm10 md10 offset-sm1 offset-md1>
        <v-carousel>
            <v-carousel-item
              v-for='carouselImg in signupCarousalImgs'
              :src='carouselImg.url'
              :key='carouselImg.id'
              transition="fade"
              reverse-transition="fade"
              class="carousel">
              <div class='carouselImgTitle text-md-center'>
                {{carouselImg.title}}
              </div>
            </v-carousel-item>
        </v-carousel>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  export default{
    data () {
      return {
        signupCarousalImgs: [
          {
            'url': 'http://pakaugiri.com/wp-content/uploads/2016/06/Defining-moments-of-Indian-Cricket-India-winning-the-Cricket-World-cup-1983.jpg',
            'title': '1983 WorldCup win',
            'id': '1983'
          },
          {
            'url': 'http://i.imgci.com/espncricinfo/travel/rd/2011.jpg',
            'title': '2011 WorldCup win',
            'id': '2011'
          },
          {
            'url': 'http://m.sportzwiki.com/wp-content/uploads/sites/4/2017/09/wct20_2007-1416847662.jpg',
            'title': '2007 t20 WorldCup win',
            'id': '2008'
          },
          {
            'url': 'https://d1u4oo4rb13yy8.cloudfront.net/article/82895-oziyrlccwb-1519412874.jpg',
            'title': 'Sachin 200',
            'id': '2010'
          },
          {
            'url': 'http://st3.cricketcountry.com/wp-content/uploads/2013/02/Anil-Kumble-10-74.jpg',
            'title': 'Anil Kumble 10 wkts at delhi',
            'id': '1999'
          },
          {
            'url': 'http://img.manoramaonline.com/content/dam/mm/en/news/columns/vantage-point-raghavan/images/2017/7/2/vvs-281.jpg.image.784.410.jpg',
            'title': 'VVS Laxman 281 against mighty aussies',
            'id': '2001'
          },
          {
            'url': 'https://d1u4oo4rb13yy8.cloudfront.net/article/53720-diyvyerrui-1489667220.jpg',
            'title': 'Sachin 100th century',
            'id': '2012'
          },
          {
            'url': 'http://content.theringsideview.com/wp-content/uploads/2017/01/11133205/Rahul-Dravid-Adelaide-celebration.jpg',
            'title': 'Rahul Dravid 233 at adelaide',
            'id': '2004'
          },
          {
            'url': 'http://www.espncricinfo.com/db/PICTURES/CMS/72200/72212.3.jpg',
            'title': 'Sachin pullshot in 2003 WorldCup to Andy Caddick',
            'id': '2003'
          }
        ]
      }
    }
  }
</script>
<style scoped>
  .carouselImgTitle{
      position: absolute;
      bottom: 50px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 18px;
      padding: 1px;
      width: 100%;
      text-align: center;
  }
  .carouselTitle{
    font-size: 20px;
    font-weight: bold;
    background-color: #BDBDBD;
  }
</style>
