<template>
  <v-layout row wrap>
    <v-flex xs12 sm6 offset-sm3>
      <v-dialog width="550px" transition persistent v-model="isSuccess">
          <v-layout row wrap>
            <v-flex xs12>
            <v-alert type="success" dismissible v-model="isSuccess">
              {{successMsg}}
            </v-alert>
            </v-flex>
          </v-layout>
      </v-dialog>
      <div class="teamNameDiv">{{getUserTeamObj.name}}</div>
      <div class="editTeamDiv">
      <v-btn color="primary" dark @click.prevent="editTeam" class="editTeamButton" >Edit Team</v-btn>
      </div>
      <div class="teamPlayersCnt">
        <div
        v-for="(playerId) in getUserTeamObj.activePlayers"
        :id="playerId"
        class="teamPlayers"
        >{{getUserTeamObj.playersSelectedObj[playerId].name}} ({{getUserTeamObj.playersSelectedObj[playerId].teamName}})</div>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    data () {
      return {
        isSuccess: false,
        successMsg: ""
      }
    },
    computed: {
      getUserTeamObj () {
        this.isSuccess = true
        this.successMsg = "Here is your saved team. All the best!! JSRM"
        return this.$store.getters.getUserTeamObj
      }
    },
    watch: {

    },
    methods: {
      editTeam () {

      }
    }
  }
</script>
<style scoped>
    .teamPlayersCnt{
      width: 100%;
      border: 1px solid;
      background-color: #CFD8DC;
      height: auto;
      padding-top: 10px;
    }
    .teamNameDiv{
      display: inline-block;
      width: 62%;
      margin-left: 5px;
      font-size: 20px;
      font-weight: 500;
    }
    .editTeamDiv{
      display: inline-block;
      width: 30%;
    }
    .editTeamButton{
      width: 100%;
    }
    .teamPlayers{
      width: 40%;
      margin-left: 30%;
      height: 30px;
      margin-bottom: 10px;
      border-radius: 30px;
      text-align: center;
      line-height: 30px;
      font-weight: 500;
      background-color: #4DB6AC;
      color: #FFFFFF;
      box-shadow: 5px 5px 5px #888888;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .teamPlayers:nth-child(1) {
      background-color: #EF5350 !important;
    }
    .teamPlayers:nth-child(2) {
      background-color: #2196F3 !important;
    }
</style>
