<template>
  <v-app>
    <v-navigation-drawer temporary v-model="sideNav" app>
      <v-list>
        <v-list-tile @click.prevent="signInUser" v-if="!getLoggedInUser">
          <v-list-tile-action>
            <img src="https://image.flaticon.com/teams/slug/google.jpg" class="googleIcon"></img>
          </v-list-tile-action>
          <v-list-tile-content>
            Login with Google
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile to="/myLeagues" v-if="getLoggedInUser">
          <v-list-tile-action>
            <v-icon left>card_membership</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            My Leagues
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click.prevent="logoutUser" v-if="getLoggedInUser">
          <v-list-tile-action>
            <v-icon left>assignment_return</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            Logout
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="primary" dark>
      <v-toolbar-side-icon @click.native.stop="sideNav = !sideNav" class="hidden-sm-and-up"></v-toolbar-side-icon>
      <v-toolbar-title class="toolbarTitle">
        <router-link to="/" tag="span">Fantasy Katta</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat @click.prevent="signInUser" v-if="!getLoggedInUser" class="hidden-xs-only">
          <img src="https://image.flaticon.com/teams/slug/google.jpg" class="googleIcon"></img>
          Login with Google
        </v-btn>
        <v-btn flat to="/myLeagues" v-if="getLoggedInUser" class="hidden-xs-only">
          <v-icon left>card_membership</v-icon>
          My Leagues
        </v-btn>
        <v-btn flat @click.prevent="logoutUser" v-if="getLoggedInUser" class="hidden-xs-only">
          <v-icon left>assignment_return</v-icon>
          Logout
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content :class="{appCnt:isHomePage}">
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        isHomePage: false,
        sideNav: false
      }
    },
    computed: {
      getLoggedInUser () {
        return this.$store.getters.getuser
      }
    },
    watch: {
      getLoggedInUser (user) {
        if(user !== null && user !== undefined) {
          this.$router.push('/')
        }
        else {
          this.$router.push('/signup')
        }
      },
      '$route' (routeObj) {
        if(routeObj.name === "Home") {
          this.isHomePage = true
        }
        else {
          this.isHomePage = false
        }
      }
    },
    methods: {
      signInUser () {
        this.$store.dispatch('signInUser', {})
      },
      logoutUser () {
        this.$store.dispatch('logoutUser', {})
      }
    }
  }
</script>
<style>
  .googleIcon{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-right: 10px;
  }
  .toolbarTitle{
    cursor: pointer;
  }
  .appCnt{
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/kyaca1k/boxing-day-test-match-melbourne-cricket-ground-mcg-melbourne-victoria_sxxrlh3wx_thumbnail-full01.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #FFF;
    background-blend-mode: luminosity, normal;
  }
  html{
    overflow-y: hidden;
  }
  .primaryEl{
    color: #EF5350;
  }
</style>